@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@500&family=Montserrat:wght@800&display=swap');

.title1{
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 10%;
    font-size: 80px;
}

.subtitle{
    font-family: 'Anuphan';
    text-align: center;
    font-size: 40px;
    margin-top: -7%;
    color: rgb(191, 15, 15);
}

button{
    font-family: 'Anuphan';
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover{
    background-color: beige;
}

#filename{
    font-family: 'Anuphan';
    text-align: center;
    margin-top: 2.5%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popupContent {
    background-color: white;
    margin: 10% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    position: relative;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(191, 15, 15);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loadingg{
    font-family: 'Anuphan';
    color: #6012d5;
    margin-top: 40px;
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@500&family=Montserrat:wght@600&display=swap');

h1 {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 40px;
}

/* Styling for the container of the cards */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Styling for each card */
.card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
}

/* Styling for the image in each card */
.card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

/* Styling for the ID in each card */
.card button {
  font-family: 'Montserrat';
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  border: 0px;
}

/* Hover effect for the card */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the popup container */
#popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Styling for the popup */
#popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  height: 60%;
}

/* Styling for the content in the popup */
#popup-content-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
  height: 100%;
  padding: 20px;
  font-family: 'Montserrat';
  font-size: 20px;
  background-color: white;
}

/* Styling for the ID in the popup */
#popup-id {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}


#close-btn {
  /* position: absolute; */
  top: 10px;
  right: 10px;
  font-size: 48px;
  font-weight: bold;
  color: red;
  background-color: white;
  border: none;
  border-radius: 10%;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border: 2px black;
}

.popup-details {
  font-family: "Anuphan";
}

.popup-details p {
  font-size: 14px;
  line-height: 1.5;
  margin: 10px 0;
}

@media (min-width: 1100px) {
  .popup-details p {
    font-size: 18px;
    line-height: 1.8;
    margin: 15px 0;
  }
}

@media (min-width: 1100px) {
  .popup-details p {
    font-size: 18px;
    line-height: 1.8;
    margin: 15px 0;
  }
}
